Flask==1.0
requests==2.20.0
Werkzeug==0.15.3
flask_mongoengine==0.8
prettytable==0.7.2
pymongo==3.4.0
paramiko==2.4.1
celery==3.1.25
mongoengine==0.10.7
coloredlogs==9.0
Flask_Login==0.4.0
tldextract==2.2.0
IPy==0.83
gevent==1.2.2
redis==2.10.6
gunicorn==19.6.0
supervisor==3.3.4